.apple-pay-button-with-text {
    --apple-pay-scale: 1.5625; /* (height / 32) */
    display: inline-flex;
    justify-content: center;
    font-size: 12px;
    border-radius: 5px;
    padding: 0px;
    box-sizing: border-box;
    /*min-width: 200px;*/
    width:100%;
    min-height: 32px;
    max-height: 64px;
    margin-bottom: 10px;
    cursor: pointer;
}
.apple-pay-button-black-with-text {
    background-color: black;
    color: white;
    cursor: pointer;
}
.apple-pay-button-white-with-text {
    background-color: white;
    color: black;
    cursor: pointer;
}
.apple-pay-button-white-with-line-with-text {
    background-color: white;
    color: black;
    border: .5px solid black;
    cursor: pointer;
}
.apple-pay-button-with-text.apple-pay-button-black-with-text > .logo {
    background-image: -webkit-named-image(apple-pay-logo-white);
    background-color: black;
    cursor: pointer;
}
.apple-pay-button-with-text.apple-pay-button-white-with-text > .logo {
    background-image: -webkit-named-image(apple-pay-logo-black);
    background-color: white;
    cursor: pointer;
}
.apple-pay-button-with-text.apple-pay-button-white-with-line-with-text > .logo {
    background-image: -webkit-named-image(apple-pay-logo-black);
    background-color: white;
    cursor: pointer;
}
.apple-pay-button-with-text > .text {
    font-family: -apple-system;
    font-size: calc(1em * var(--apple-pay-scale));
    font-weight: 300;
    align-self: center;

    margin-right: calc(2px * var(--apple-pay-scale));
    cursor: pointer;
}
.apple-pay-button-with-text > .logo {
    width: calc(35px * var(--apple-pay-scale));
    height: 100%;
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position: 0 50%;
    margin-left: calc(2px * var(--apple-pay-scale));
    border: none;
    min-width: 0px; /* override magento min-width */
    min-height: 42px; /* override magento min-height */
    cursor: pointer;
}